/* Table of Contents
---------------------------------------
- General Content
- Typography
- Header & Navigation
- Images & Media
- Footer
- Media Queries
--------------------------------------- */

/* General Content 
---------------------------------------*/
.main
{
    padding-top:3%;
}

.row
{
    padding: 2% 0;
}

#intro
{
    margin-top:25%;
    margin-bottom:55%;
}

.experience{
    margin-bottom:10%;
}

.folio{
    margin-bottom:15%;
}

.red
{
    background-color:#FF4136;
}

.redder
{
    background-color:#d63d38;
}

/* Typography 
---------------------------------------*/
body
{
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 2em;
    color: #000;    
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1; 
    animation-fill-mode: forwards;    
}


@keyframes fadeInAnimation { 
0% { 
    opacity: 0; 
} 
100% { 
    opacity: 1; 
 } 
} 

h2
{
    font-family: 'Titillium Web', cursive;
    font-size: 3em;
}

h2.opening
{
    text-align:center;
}

h2.captionTitle
{
    text-align:center;
    font-size: 1.67em;
}

p.caption
{
    font-size: 1em;
}

h2.bio
{
    color:#8b0000;
    margin:.33em;
}

p.bio
{
    color:#000;
    margin:1.67em;
}

a.resume
{
    color:#FFFFFF;
    text-decoration: none;
}

a.resume:hover
{
    color:#AAAAAA;
}

a.resume:active
{
    color:#000000;
}

ul.contact
{
    margin:1.67em;
    list-style-type: square;
}

ul.contact li
{
    margin:0;
}


/* Header & Navigation 
---------------------------------------*/
header.main_nav
{
    padding:0;
    display:block;
}

#logo
{
    position:relative;
    margin:0 auto;
    height:15%;
    width:15%;
}

#logo img.top-logo{
    position: absolute;
    left:0;
    -webkit-animation: opacity 0.5s ease-in-out;
    -moz-animation: opacity 0.5s ease-in-out;
    -o-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
}

#logo img.top-logo:hover {
    opacity: 0;
}

/* Images & Media
---------------------------------------*/
img
{
    max-width:100%;
}

.company-logos
{
    position: relative;
}

img.company-logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
}

img.avatar
{
    border-radius: 400px;
    border: 5px solid #111111;
    min-width:100%;
}


/* Footer 
---------------------------------------*/
ul.social
{
    display:block;
    margin: 5% 0;
    list-style-type: none;
    text-align:center;
}

ul.social li
{
    font-size: 3em;
    display: inline;
    padding: 0 2%;
}

ul.social li a
{
    color:#666;
}

ul.social li.facebook a:hover
{
    color: rgb(59, 89, 152);
}

ul.social li.bluesky a:hover
{
    color: rgb(0, 172, 237);
}

ul.social li.instagram a:hover
{
    color: rgb(233, 89, 80);
}

ul.social li.linkedin a:hover
{
    color: rgb(0, 123, 182);
}

ul.social li.github a:hover
{
    color: #333;
}

ul.social li.wordpress a:hover
{
    color: #21759b;
}

ul.social li.resume a:hover
{
    color: #f00;
}

div.doc
{
    background-color:#FF4136;
}

p.documentation
{
    
    text-align:center;
    color:#000;
    font-size:1em;
}

p.copyright
{
    text-align:center;
    color: #999;
    font-size: 1em;
}

/* Fade 
---------------------------------------*/
.fade{
    opacity:0;
    transform:translate(0, 10vh);
    transition : all 1s;
}

.fade.visible {
    opacity:1;
    transform:translate(0,0);
}

/* Media Queries 
---------------------------------------*/
/* Larger than mobile */
@media (max-width: 600px)
{
    h2.opening{font-size: 2em;}
    .logo a{font-size: 2em;}
    .company-logos{margin-bottom:10%;}
    .main{padding-top:15%;}
    .portfolio img{margin-bottom:10%;}
    img.avatar{margin-top:20%;}
    h2.captionTitle{font-size:1em;}
    p.caption{font-size:.67em;}
    h2.bio{font-size:2.5em; margin:0.67em;}
    p.bio{font-size: 1.25em; color:#8b0000;}
    ul.social li a{font-size: .75em;}
}
